<p id="notice"><%= notice %></p>

<p>
  <strong>Ivmr value:</strong>
  <%= @ivmr.ivmr_value %>
</p>

<p>
  <strong>Api time:</strong>
  <%= @ivmr.api_time %>
</p>

<%= link_to 'Edit', edit_ivmr_path(@ivmr) %> |
<%= link_to 'Back', ivmrs_path %>
