<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @sample.order_date %>
</p>

<p>
  <strong>Sales:</strong>
  <%= @sample.sales %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
