


<%= form_for(@pvmr) do |f| %>
  <% if @pvmr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pvmr.errors.count, "error") %> prohibited this pvmr from being saved:</h2>

      <ul>
      <% @pvmr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <% if action_name=='new' %>
    <%= f.date_select :date , class: "form-control" %>
    <% else %>
    <%= f.date_select :date ,:disabled => true, class: "form-control" %>
    <% end %>
  </div>
    <div class="field">
    <%= f.label :num_packages %><br>
    <%= f.number_field :num_packages %>
  </div>
  <div class="field">
    <%= f.label :total_value %><br>
    <%= f.number_field :total_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

